{% extends 'store/main.html' %}

{% block content %}

<h2>Cart</h2>



    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
        {% for cart_item in carts %}
            <tr>
                <td>{{ cart_item.name}}</td>
                <td>{{ cart_item.price}}</td>
                <td>{{ cart_item.quantity }}</td>
                <td>

                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
