{{% extends 'store/main.html' %}

{% block content %}

<h2>Create an Empty Cart</h2>

<p>This page allows you to create an empty cart. Once you create a cart, you can start adding items to it by browsing our selection of products.</p>

<p>This is a shopping site for buying volcanoes. Interestingly the volcanoes are not removable. So, this website is just a little joke for the users.</p>


<form method="POST" action="{% url 'create_empty_cart' %}">
    {% csrf_token %}
    <input type="submit" value="Create Cart">
</form>

<style>

  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    color: #666666;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  form {
    margin-top: 20px;
  }

  input[type="submit"] {
    background-color: #4d7aad;
    border-color: #4d7aad;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #357c82;
  }
</style>

{% endblock %}

