{% extends 'store/main.html' %}
{% load static %}
{% block content %}
  <div class="row">
    {% for volcano in volcanoes %}
      <div class="col-lg-4">
        <img class="thumbnail" src="{{ volcano.Volcano_Image }}">
        <div class="box-element product">
          <h6><strong>{{ volcano.Volcano_Name }}</strong></h6>
          <hr>
          <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
          <a class="btn btn-outline-success" href="{% url 'volcano_detail' volcano.Volcano_ID %}">View</a>
          <h4 style="display: inline-block; float: right"><strong>${{ volcano.price }}</strong></h4>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}



