{% extends 'store/main.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <img class="thumbnail" src="{{ volcano.Volcano_Image }}">
      <h4>{{ volcano.Volcano_Name }}</h4>
      <p>Type: {{ volcano.Volcano_Type }}</p>
      <p>Country: {{ volcano.Country }}</p>
      <p>Epoch Period: {{ volcano.epoch_period }}</p>
      <p>Coordinates: {{ volcano.Latitude }}, {{ volcano.Longitude }}</p>
    </div>
    <div class="col-lg-6">
      <div id='map' style='width: 100%; height: 400px;'></div>
      <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoia2Vob25nY2hlbiIsImEiOiJjbGd5em50OTcwZW94M2RvZ3Q2eXdsNzFuIn0.XQOHMzb3a3ZLEQlbdBCfgg';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v11',
          center: [{{volcano.Longitude}}, {{volcano.Latitude}}],
          zoom: 12
        });
        var marker = new mapboxgl.Marker()
          .setLngLat([{{volcano.Longitude}}, {{volcano.Latitude}}])
          .addTo(map);
      </script>
    </div>
  </div>
{% endblock content %}
